body {
    min-height: 100vh;
    background-image: url(/main/home/ac6ca60ec63afa72f527ea87c8d58458.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    font-style: oblique;
    text-decoration: underline;
    padding-top: 5rem;
    padding-bottom: 1rem;

}

.ingredients-list {
    margin: 3rem;
    list-style: none;
    font-size: 1.3rem;

}

.ingredients {
    line-height: 2rem;
    text-align: left;
    font-weight: bold;
}

h2{
    padding-left: 4rem;
    text-decoration: underline;
}

p {
    margin: 5rem;
    line-height: 1.5rem;
    text-align: left;
    max-width: 1326px;
    font-size: 1.3rem;
    font-weight: bold;
}

.source{
    text-decoration: none;
    color: rgb(146, 28, 175);
}

.source:hover{
    color: purple;
}